<<<<<<< HEAD:css/style.css
/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --iriscolor: #4D5AE5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #2196F3;
    --whitecolor: white;
    --slatecolor: #434455;
}
/*-----------------------------------*\
  #Header
\*-----------------------------------*/
.link-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif; 
    font-size: 18px;
    line-height: 1.5;
    font-weight: 800;
}

.web-l {
    color: var(--iriscolor);
    font-weight: bold;
}

.studio-l {
    color: var(--navyblue);
    font-weight: bold;
}
.navbar .pages{
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
}

.lists{
    list-style-type: none;
}

.navbar .pages:hover, 
.navbar .pages:focus, 
.navbar .pages.currentoption, 
.contact-info .info:hover, 
.contact-info .info:focus {
    color: var(--oceancolor);
}

.contact-info .info {
    color: var(--navcolor);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-decoration: none;
}
/*-----------------------------------*\
  #Main Section 
\*-----------------------------------*/
.bg-section1 {
    background-color: var(--navyblue);
    height: 300px;
}

.button-container-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-title {
    color: var(--whitecolor);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em;
}

.btn {
    cursor: pointer; 
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inherit;
    
}

.btn.primary{
    background-color: var(--oceancolor);
    color:var(--whitecolor);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: hotpink;
}

.desclist.titlelist{
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: var(--slatecolor);
}

.sectiontitle{
    text-align: center;
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 900;
    line-height: 1.5;
}

.teamname { 
    color: var(--navyblue);
    font-weight: 900;
    
}

.position{
    color: var(--slatecolor);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: bottom;
    background-color: var(--navyblue);
    width: auto;
    height: 200px;
}

.footerbg{
    background-color: var(--navyblue);
}
.web-logo {
    color: var(--iriscolor);
    margin-left: 2em;
    align-items: auto;
    flex-direction: row;
    justify-content: right;
}
.studio-logo2{
    color: var(--whitecolor);
    text-justify: auto;
    flex-direction: row;
    justify-content: right;
  
 }

 .lastword{
    color: var(--whitecolor);
    width: 265px;
    height: 70px;
    text-justify: left;
    margin-top: 4em;
   
 }